## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Longyearbyen,SJ,78.2186,15.6401,42.64,87,20,13.80,few clouds
1,1,Cape Town,ZA,-33.9258,18.4232,57.88,89,100,5.99,heavy intensity rain
2,2,Vengerovo,RU,55.6848,76.7471,62.49,92,100,7.38,light rain
3,3,Ust-Tsilma,RU,65.4410,52.1498,46.24,91,93,4.59,overcast clouds
4,4,Hobart,AU,-42.8794,147.3294,42.66,87,12,3.00,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 92

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
5,5,Maracacume,BR,-2.0428,-45.9592,84.36,66,92,2.30,overcast clouds
6,6,Calama,CL,-22.4667,-68.9333,68.20,7,59,17.87,broken clouds
9,9,Brokopondo,SR,4.7500,-55.1667,88.14,57,100,2.28,overcast clouds
10,10,Lianyuan,CN,27.6883,111.6642,80.60,87,100,1.54,overcast clouds
13,13,Atuona,PF,-9.8000,-139.0333,77.32,80,26,19.55,light rain
14,14,Muros,ES,42.7762,-9.0603,67.14,70,100,10.27,overcast clouds
15,15,Hithadhoo,MV,-0.6000,73.0833,81.63,75,100,5.55,overcast clouds
19,19,Pasuquin,PH,18.3328,120.6177,80.17,83,100,9.57,heavy intensity rain
22,22,Kailua,US,21.4022,-157.7394,82.38,67,40,12.66,scattered clouds
23,23,Albany,US,42.6001,-73.9662,88.03,56,17,3.71,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                425
City                   425
Country                423
Lat                    425
Lng                    425
Max Temp               425
Humidity               425
Cloudiness             425
Wind Speed             425
Weather Description    425
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Maracacume,BR,84.36,overcast clouds,-2.0428,-45.9592,
6,Calama,CL,68.20,broken clouds,-22.4667,-68.9333,
9,Brokopondo,SR,88.14,overcast clouds,4.7500,-55.1667,
10,Lianyuan,CN,80.60,overcast clouds,27.6883,111.6642,
13,Atuona,PF,77.32,light rain,-9.8000,-139.0333,
14,Muros,ES,67.14,overcast clouds,42.7762,-9.0603,
15,Hithadhoo,MV,81.63,overcast clouds,-0.6000,73.0833,
19,Pasuquin,PH,80.17,heavy intensity rain,18.3328,120.6177,
22,Kailua,US,82.38,scattered clouds,21.4022,-157.7394,
23,Albany,US,88.03,few clouds,42.6001,-73.9662,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [8]:
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Maracacume,BR,84.36,overcast clouds,-2.0428,-45.9592,Hotel Ramos
10,Lianyuan,CN,80.60,overcast clouds,27.6883,111.6642,Lianyuan Hotel
13,Atuona,PF,77.32,light rain,-9.8000,-139.0333,Villa Enata
15,Hithadhoo,MV,81.63,overcast clouds,-0.6000,73.0833,Scoop Guest House
19,Pasuquin,PH,80.17,heavy intensity rain,18.3328,120.6177,Orchard Resort Hotel And Restaurant
22,Kailua,US,82.38,scattered clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
24,Kirakira,SB,77.00,scattered clouds,-10.4544,161.9205,SanBiz Lodge
25,Phangnga,TH,80.64,broken clouds,8.4509,98.5298,Sunimit Mansion
27,Bethel,US,84.47,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
28,Bambanglipuro,ID,75.18,clear sky,-7.9500,110.2833,Puri Brata

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Weather Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [14]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Maracacume,BR,84.36,overcast clouds,-2.0428,-45.9592,Hotel Ramos
10,Lianyuan,CN,80.60,overcast clouds,27.6883,111.6642,Lianyuan Hotel
13,Atuona,PF,77.32,light rain,-9.8000,-139.0333,Villa Enata
15,Hithadhoo,MV,81.63,overcast clouds,-0.6000,73.0833,Scoop Guest House
19,Pasuquin,PH,80.17,heavy intensity rain,18.3328,120.6177,Orchard Resort Hotel And Restaurant
22,Kailua,US,82.38,scattered clouds,21.4022,-157.7394,Sheffield House Bed & Breakfast
24,Kirakira,SB,77.00,scattered clouds,-10.4544,161.9205,SanBiz Lodge
25,Phangnga,TH,80.64,broken clouds,8.4509,98.5298,Sunimit Mansion
27,Bethel,US,84.47,light rain,41.3712,-73.4140,Courtyard by Marriott Danbury
28,Bambanglipuro,ID,75.18,clear sky,-7.9500,110.2833,Puri Brata

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))